.hidden {
	display:none;
}

table,
th,
td {
	border: 1px solid black;
}
table {
	margin: auto;
	background-color: black;
}

.btnThree {
	position: fixed;
	top: 0;
	right: 0;
	margin: 1%;
	font-size: 1.2rem;
	background-color: red;
}

.pointer{
	cursor: pointer;
}
html, body{
	height:120%;
	margin:0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./images/family.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}

body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	color: white;
}

label {
	color: whitesmoke;
}

.left {
	position: absolute;
	width:20%;
	margin-left: 30%;
}

.right {
	margin-left: 20%;
}
label{
	margin: auto;
}
input{
	margin: auto;
}
/* #btnTwo {
	margin-bottom: 15rem;
} */
